.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.about-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 75%;
  padding: 30px;
}

.about-description-image {
  display: flex;
  margin: 30px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  border-radius: 20px;
  max-width: 350px;
  min-width: 400px;
  max-height: 500px;
  object-fit: contain;
}

.about-description-text {
  width: 100%;
  padding: 40px;
}

.about-description-image img {
  max-width: max(30%, 350px);
  max-height: max(30%, 400px);
  border-radius: 20px;
}

.about-subsection {
  padding-bottom: 20px;
  align-items: left;
  text-align: left;
}

.about-details {
  padding-left: 10%;
  padding-right: 10%;
}

.italics-bold {
  color: black;
  font-weight: 800;
}

.heading {
  font-size: 50px;
  font-weight: 750;
  margin: 10px;
  color: black;
}

.subheading {
  font-size: 24px;
}

.image-container {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 40%;
  width: 100%;
  min-width: 300px;
  overflow: hidden;
  border-radius: 20px;
}

.title-image {
  max-width: 80%;
  padding: 7px;
  height: auto;
  border-radius: inherit;
  transition: filter 0.3s ease-out;
}

@media (min-width: 768px) {
  .about-description {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  .about-description-image,
  .about-description-text {
    width: 50%;
    max-width: none;
  }

  .about-description-image {
    margin-right: 20px;
  }
}
