.dropdown {
  background-color: #efefec;
  display: none;
  opacity: 0;
  padding: 8px;
  position: absolute;
  right: 0;
  top: 1;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 1;
}

.dropdown.active {
  display: flex;
  flex-direction: column;
  opacity: 1;
  transform: translateY(0);
}

.menu-item {
  cursor: pointer;
  font-size: 16px;
  margin: 4px;
  padding: 4px;
  text-decoration: none;
}

.menu-item:hover,
.menu-item.active {
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .dropdown.active {
    display: none;
  }
}
