.navbar {
  padding: 20px 56px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 24px;
  font-stretch: semi-expanded;
  font-weight: 850;
}

.menu-toggle-container {
  height: auto;
  position: relative;
}

.menu-toggle-checkbox {
  display: none;
}

.menu-toggle {
  cursor: pointer;
  display: none;
}

.menu-icon {
  filter: sepia(0.99) hue-rotate(-10deg) saturate(1.2);
  height: 30px;
  width: 30px;
}

.dropdown {
  display: none;
  position: absolute;
  top: 1;
  right: 1;
  background-color: white;
  padding: 8px;
  z-index: 1;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown.active {
  display: flex;
  flex-direction: column;
  opacity: 1;
  transform: translateY(0);
}

.menu-item {
  text-decoration: none;
  font-size: 16px;
  padding: 4px 6px;
  margin: 5px 0;
  cursor: pointer;
}

.menu-item:hover {
  background-color: lightgray;
}

.menu a {
  font-weight: 700;
  padding: 20px;
}
.menu {
  display: flex;
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }

  .menu-toggle {
    display: block;
  }

  .dropdown {
    display: none;
  }

  .dropdown.active {
    display: flex;
  }
}

@media screen and (min-width: 769px) {
  .menu {
    display: flex;
  }

  .dropdown.active {
    display: none;
  }
}
