.navbar {
  background: transparent;
  padding: 20px;
  padding-bottom: 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 24px;
  font-stretch: semi-expanded;
  font-weight: 850;
}

.menu-toggle-container {
  height: auto;
  position: relative;
}

.menu-toggle-checkbox {
  display: none;
}

.menu-toggle {
  cursor: pointer;
  display: block;
}

.menu-icon {
  filter: sepia(0.99) hue-rotate(-10deg) saturate(1.2);
  height: 30px;
  width: 30px;
}

.dropdown {
  display: none;
  position: absolute;
  top: 1;
  right: 0;
  background-color: white;
  padding: 8px;
  z-index: 1;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown.active {
  display: flex;
  flex-direction: column;
  opacity: 1;
  transform: translateY(0);
}

.menu-item {
  cursor: pointer;
  font-size: 16px;
  margin: 4px;
  padding: 4px;
  text-decoration: none;
}

.menu-item:hover,
.menu-item.active {
  font-style: italic;
  background: linear-gradient(45deg, #f06, #3b9cd4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.menu a {
  padding: 12px;
}

.menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu {
    display: flex;
  }

  .menu-toggle {
    display: none;
  }

  .dropdown.active {
    display: none;
  }
}
