.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  overflow-x: hidden;
}

.BottomBar {
  position: sticky;
  bottom: 0;
  padding: 10px;
  width: 100%;
  z-index: 1000;
}
