.progress-bar {
  background: #f3f3f3;
  border: 1px solid #ddd;
  display: flex;
  height: 20px;
  margin-bottom: 10px;
  width: 160px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.progress-container {
  height: 100vh;
  position: relative;
  width: 100vw;
}

.progress {
  background: #e8e4b7;
  height: 100%;
  transition: width 0.3s ease;
}

.all-videos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 20px;
  padding: 20px;
}
