.video-progress {
  height: auto;
  position: relative;
  width: 100vw;
  overflow-y: hidden;
}

.all-videos {
  overflow-y: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 20px;
  padding: 16px;
}

@media (min-width: 768px) {
  .all-videos {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  }
}
