.main-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.filter-bar {
  align-items: center;
  color: 1010ff;
  display: flex;
  height: 80px;
  justify-content: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
