.card {
  border-radius: 3px;
  display: inline-block;
  height: 360px;
  padding: 12px;
  transition: transform 0.3s ease;
  width: 400px;
}

.card-wrapper {
  border-radius: 3px;
  display: inline-block;
  height: 400px;
  margin: 20px;
  position: relative;
  transition: transform 0.3s ease;
  width: 436px;
}

.card-wrapper:hover {
  transform: translate(5px, -5px);
}

.canvas {
  z-index: 1;
  height: 98%;
  left: 0px;
  pointer-events: none;
  position: absolute;
  top: 0px;
  width: 98%;
}
